/*************/
/* CSS RESET */
/*************/

@font-face {
  font-family: 'Toad';
  src: url('../Font/supermario286-18qg-webfont.woff2') format('woff2'),
       url('../Font/SuperMario286-18qg.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;

}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: darkblue;
}


body {
  margin:0;
  font-family: 'Toad', sans-serif, Arial;  
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, lightblue, lightblue, lightgreen, green);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 35% 65%;

}


main {
  position: relative;
  width:45vw;
  height: 45vw;
  /* background-color: #f006; */

  display:flex;
  align-items: end;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: end;
  margin-bottom: 3vh;
  
}

main ol:nth-of-type(1) {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  /* background-color: #ff09; */
  margin:0;
  padding:0;
  list-style: none;

  font-size:.75em;
  
}

/* JAARTAL OP VLAGGETJES */
main ol:nth-of-type(1) li {
  position: absolute;
  /* background-color: blue; */

  transform:translate(-50%, -50%);
}

main ol:nth-of-type(1)  li a {
  color:white;
  text-decoration: none;
}

main ol:nth-of-type(1)  li a.disabled {
  opacity:.1;
}

main ol:nth-of-type(1)  li:nth-of-type(1) {
  left:55.59%;
  top:-10.4%;
}

main ol:nth-of-type(1)  li:nth-of-type(2) {
  left:85.5%;
  top:16.75%;
}

main ol:nth-of-type(1)  li:nth-of-type(3) {
  left:71.3%;
  top: 54.75%;
}

main ol:nth-of-type(1)  li:nth-of-type(4) {
  left:30.5%;
  top: 77.8%;
}

main ol:nth-of-type(1)  li:nth-of-type(5) {
  left:37.2%;
  top: 26.3%;
}

main ol:nth-of-type(1)  li:nth-of-type(6) {
  left:15.4%;
  top:-10.4%;
}



/* Afbeelding van de racebaan: */
.afbeelding {
  width:100%;
  height: auto;
  display: block;
}

/* afbeelding van de raceauto: */
#afbeelding2 {
  position: absolute;
  width: 15%;
  left:30%;
  top:-1.5%;
  /* rotate: 180deg; */

  animation: hereWeGo;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#afbeelding2.stop { 
  animation-play-state: paused;
}

/* raceauto laten rijden :) */
@keyframes hereWeGo {
  0% {
    /* 1e = x, 2e = y */
    transform: translate(0, 0) rotate(0deg);
  }
  5% {
    transform: translate(150%, 0) rotate(0deg);
  }
  5.1% {
    transform: translate(150%, 0) rotate(80deg);
  }
  10% {
    transform: translate(220%, 180%) rotate(80deg);
  }
  10.1% {
    transform: translate(220%, 180%) rotate(0deg);
  }
  15% {
    transform: translate(370%, 180%) rotate(0deg);
  }
  15.1% {
    transform: translate(370%, 180%) rotate(90deg);
  }
  23% {
    transform: translate(370%, 430%) rotate(90deg);
  }
  23.1% {
    transform: translate(370%, 430%) rotate(180deg);
  }
  39% {
    transform: translate(-120%, 435%) rotate(180deg);
  }
  39.1% {
    transform: translate(-120%, 435%) rotate(90deg);
  }
  44% {
    transform: translate(-120%, 590%) rotate(90deg);
  }
  44.1% {
    transform: translate(-120%, 590%) rotate(0deg);
  }
  51% {
    transform: translate(80%, 590%) rotate(0deg);
  }
  51.1% {
    transform: translate(80%, 590%) rotate(-90deg);
  }
  62% {
    transform: translate(80%, 235%) rotate(-90deg);
  }
  62.1% {
    transform: translate(80%, 235%) rotate(180deg);
  }
  71% {
    transform: translate(-200%, 245%) rotate(180deg);
  }
  71.1% {
    transform: translate(-200%, 245%) rotate(-90deg);
  }
  79% {
    transform: translate(-200%, 0%) rotate(-90deg);
  }
  79.1% {
    transform: translate(-200%, 0%) rotate(0deg);
  }
  86% {
    transform: translate(0%, 0%) rotate(0deg);
  }

}

/* afbeelding van Toad zijn hoofd */
.afbeelding3 {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 15%;
}




button:not([disabled]) {
  cursor:pointer;
}




/********************/
/* ALGEMENE STYLING */
/********************/


h1 {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size:2.5em;
  color:var(--color-headings);
}

/* Tekst: in deze tijdlijn... */
p:nth-of-type(1) {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size:1.2em;
  font-family: sans-serif, Helvetica, Arial;
}

/* Tekst: 3 2 1 GO  */
p:nth-of-type(2) {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size:1.2em;
  font-family: "Toad", sans-serif, Helvetica;
}

body > ol {
  margin:0;
  padding:0;
  list-style: none;

  /* background-color: #ff06; */
  display:grid;
  justify-items: center;
}

body > ol li {
  position: relative;
  /* grid child */
  grid-column-start: 1;
  grid-row-start: 1;
  width:80%;
  height: 80%;
  padding: 2em;

  background-color: rgb(176, 38, 38);
  border-radius: 4% 4% 4% 0;

  opacity: 0;
  pointer-events: none;

  transition: 0.3s;

  /* grid parent */
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr max-content;
  column-gap: 1em;
  row-gap: 1em;
}

/* Tekstbalkje (Links onder)  */
body > ol li::after {
  content:"";
  position: absolute;
  bottom:0;
  right:100%;
  width:6%;
  aspect-ratio: 1/1;

  background-image: radial-gradient(at left top, transparent 69.5%, rgb(176, 38, 38) 70.5%);
}

body > ol li.show {
  opacity: 1;
  pointer-events: all;
  text-align: center;
} 

body > ol li h2 {
  font-size: 3em;
  color: white;
  /* text-decoration: none; */
  text-align: left;
  margin:0;
}

body > ol li p {
color: white;
text-align: left;
font-family: sans-serif, Helvetica, Arial;
margin: 0;
}

/* SLUIT KNOP */
body > ol li button {
  color: white;
  background-color: darkblue;
  width: 5em;
  height: 3em;
  border-radius: 20%;
}

body > ol li img {
  display:block;
  width:100%;
  height:100%;
  object-fit: cover;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
}
